.Community {
    width: 100%;
    background-color: #151349;
    position: relative;
    top: 90px;
    padding: 0 0 100px 0;
}

.CommunityTitle {
    font-size: 50px;
    letter-spacing: 0.4px;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 32px;
}

.CommunityText {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    letter-spacing: 0.1px;
    word-spacing: 1.4px;
    color: white;
    position: relative;
    display: flex;
    text-align: center;
    top: 36px;
    padding: 0 16px;
}

.CommunityButton {
    font-family: 'Roboto Mono', monospace;
    letter-spacing: -0.2px;
    word-spacing: -2.6px;
    width: 70%;
    height: 40px;
    max-width: 650px;
    border: none;
    border-radius: 12px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    top: 70px;
}

.TwitterButton {
    position: relative;
    background-color: #1da1f2;
    padding: 16px;
}

.DiscordButton {
    position: relative;
    background-color: #5865F2;
    top: 80px;
}