.LandsContainerItem {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.LandsImage {
    max-width: 150px;
    position: absolute;
    border-radius: 12px 12px 0 0;
}

.LandsButton {
    width: 150px;
    height: 40px;
    border-radius: 0px 0px 12px 12px;
    color: white;
    font-size: 26px;
    letter-spacing: 1px;
    position: absolute;
    top: 178px;
    background-color: rgba(114, 114, 114, 0.6);
    border: 2px solid rgb(149, 149, 149);
    font-family: 'Bebas Neue', cursive;
}