.LandsContainer {
    position: relative;
    background: rgb(21,19,73);
    background: linear-gradient(90deg, rgba(21,19,73,1) 0%, rgba(85,25,147,1) 100%);
    background-size: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 200px;
    top: 90px;
    grid-gap: 16px;
    padding: 16px 16px 56px 16px;
}