.Paragraph {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgb(255,255,255);
    /* background: linear-gradient(0deg, rgba(255,255,255,1) 50%, rgba(85,25,147,1) 100%); */
}

.ParagraphText {
    position: relative;
    font-family: 'Roboto Mono', monospace;   
    top: 24px;
    padding: 30px;
    color: white;
    background: rgb(85,25,147);
    background: linear-gradient(0deg, rgba(85,25,147,1) 0%, rgba(85,25,147,0.25115983893557425) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 20px;
    word-spacing: 1.6px;
    letter-spacing: 0.2px;
}