.Intro {
    position: relative;
    padding: 110px 0px 120px;
    width: 100%;
    background: rgb(85,25,147);
    background: linear-gradient(0deg, rgba(85,25,147,1) 10%, rgba(21,19,73,1) 87%);

}

.IntroTitle {
    font-size: 64px;
    color: white;
    line-height: 82px;
    word-spacing: 3px;
    padding: 0 30px;
}

.IntroText {
    padding: 16px 30px;
    line-height: 26px;
    font-size: 20px;
    color: white;
    letter-spacing: 0.2px;
    word-spacing: 1.6px;
}

.IntroLandImage {
    max-width: 300px;
    position: relative;
    top: 56px;
    border-radius: 12px;
    display: flex;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
}

.IntroButton {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 90px;
    width: 70%;
    height: 56px;
    color: white;
    background: linear-gradient(90deg, #280f62, #514cd2, #2e1b81, #38084c);
    background-size: 400%;
    animation: change 6s ease infinite;
    font-size: 24px;
    font-weight: 200;
    font-family: 'Bebas Neue', cursive;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    border: none;
    border-radius: 0 0 16px 16px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    box-shadow: rgba(42, 7, 54, 0.1) 2px 4px 12px;
    z-index: 2;
}

@keyframes change {
    0%{background-position: 0%;}
    100%{background-position: 400%;}
}