.MintTitle {
    margin: 0px 20px 20px 44px;
    position: relative;
    display: flex;
    justify-content: start;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-weight: 700;
}

.ImgIPFS {
    max-width: 200px;
    display: flex;
    position: relative;
    top: 16px;
}

.AddAddress {
    position: relative;
    font-family: 'Inter', sans-serif !important;
    font-size: 22px !important;
    font-weight: 700 !important;
    top: 48px;
}

.MintButton {
    display: flex;
    top: 40px;
    height: 56px;
    width: 40%;
    max-width: 250px;
    font-size: 20px;
    font-weight: 700;
    color: white !important;
    border: none;
    border-radius: 16px;
    background: linear-gradient(180deg, #8158FC 0%, #5626EE 100%);
}

.MintButton:hover {
    cursor: pointer;
    transform: scale(1.08);
}

.DiplomaBox {
    position: relative;
    margin-top: 40px;
}