.MintTitle {
    margin: 0px 20px 20px 44px;
    position: relative;
    display: flex;
    justify-content: start;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-weight: 700;
}

.FormDiploma {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 20px 44px 20px 44px;
    width: 100%;
}

.ImgIPFS {
    max-width: 220px;
    display: flex;
}

.AddAddress {
    position: relative;
    top: 84px;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-weight: 700 !important;
}

.MintButton {
    display: flex;
    height: 56px;
    width: 40%;
    max-width: 250px;
    font-size: 20px;
    font-weight: 700;
    color: white !important;
    border: none;
    border-radius: 16px;
    background: linear-gradient(180deg, #8158FC 0%, #5626EE 100%);
}